Source: python-werkzeug
Section: python
Priority: optional
Maintainer: Noah Slater <nslater@tumbolia.org>
Uploaders: Python Modules Packaging Team <python-modules-team@lists.alioth.debian.org>
Standards-Version: 3.8.0
Build-Depends: cdbs (>= 0.4.42), debhelper (>= 5.0.37.2), python
Build-Depends-Indep: python-setuptools (>= 0.6b3), python-support (>= 0.6.4)
Homepage: http://werkzeug.pocoo.org/
Vcs-Svn: svn://svn.debian.org/python-modules/packages/python-werkzeug/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/python-modules/packages/python-werkzeug/trunk/

Package: python-werkzeug
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, libjs-jquery,
 python (>= 2.5) | python-wsgiref
Recommends: python-simplejson
Suggests: ipython, python-genshi, python-pkg-resources, python-lxml
Description: collection of utilities for WSGI applications
 The Web Server Gateway Interface (WSGI) is a standard interface between web
 server software and web applications written in Python.
 .
 Werkzeug is a lightweight library for interfacing with WSGI. It features
 request and response objects, an interactive debugging system and a powerful
 URI dispatcher. Combine with your choice of third party libraries and
 middleware to easily create a custom application framework.
