#!/usr/bin/make -f

# Copyright 2009, Noah Slater <nslater@tumbolia.org>

# Copying and distribution of this file, with or without modification, are
# permitted in any medium without royalty provided the copyright notice and this
# notice are preserved.

DEB_PYTHON_SYSTEM := pysupport

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_PYTHON_INSTALL_ARGS_ALL += --single-version-externally-managed

# @@ workaround for #486848
binary-arch binary-indep: build

common-install-indep::
	mkdir -p debian/python-werkzeug/usr/share/doc/python-werkzeug
	rm debian/python-werkzeug/usr/docs/README
	mv debian/python-werkzeug/usr/docs debian/python-werkzeug/usr/share/doc/python-werkzeug/html
	chmod 644 debian/python-werkzeug/usr/lib/*/site-packages/werkzeug/debug/shared/*

binary-install/python-werkzeug::
	dh_link usr/share/javascript/jquery/jquery.js \
	    usr/share/python-support/python-werkzeug/werkzeug/debug/shared/jquery.js

# @@ only works from source directory, see #494141
.PHONY: get-orig-source
get-orig-source:
	uscan --force-download --rename --download-version=$(DEB_UPSTREAM_VERSION) --destdir .
