#!/usr/bin/make -f

export PYBUILD_NAME=werkzeug
export PYBUILD_TEST_PYTEST=1

%:
	dh $@ --with python2,python3 --buildsystem pybuild

override_dh_auto_clean:
	rm -rf build src/Werkzeug.egg-info/ .pybuild 
	dh_auto_clean

override_dh_auto_test:
	set -ex; \
		memcached -p 11211 -l 127.0.0.1 & \
		trap "kill $$! || true" EXIT; \
		LC_ALL=C.UTF-8 dh_auto_test; \

override_dh_fixperms:
	find debian/ -name '*\.png' -exec chmod -x '{}' \;
	dh_fixperms

